
    <tr>
      <td><%=wools.id%></td>
      <td><%=wools.person%></td>
      <td><%=wools.phonenum%></td>
      <td><%=wools.desc%></td>
      <th><a target="_blank" href="https://www.google.co.za/maps/dir//<%=wools.lat%>,<%=wools.long%>/@<%=wools.lat%>,<%=wools.long%>,13z">click</a></th>
    </tr>
    <!-- <tr>
      <td>2</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="info">
      <td>3</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="success">
      <td>4</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="danger">
      <td>5</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="warning">
      <td>6</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="active">
      <td>7</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr> -->
